/* Common */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header Section */
header{
    display: flex;
    justify-content: space-evenly;
    background-color: #2874f0;
    width: 100%;
    height: 56px;
    position: fixed;
    z-index: 1;
    top: 0;
}
.header-left{
    width: 20%;
    text-align: right;
    margin: 5px 0px;
    cursor: pointer;
}
.header-left a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}
.header-left-p a{
    font-size: 10px;
    letter-spacing: 1px;
}
.header-left-p span{
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;
}
.header-left-p:hover{
    text-decoration: underline;
    color: white;
}
.header-center{
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}
.header-center-input{
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 8px;
}
.fa-search{
    position: absolute;
    top: 30%;
    left: 94%;
    font-size: 18px;
    color: #2874f0;
}
.header-right{
    width: 40%;
    font-size: 15px;
    justify-content: flex-start;
    text-transform: capitalize;
    line-height: 50px;
}
.header-right a{
    text-decoration: none;
    color: white;
    margin: 0px 25px;
}
.header-right button{
    margin-left: 70px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border-color: white;
    cursor: pointer;
    color: #2874f0;
    font-size: 15px;
}
.fa-sort-down{
    margin-left: 4px;
}
.fa-cart-shopping{
    padding-right: 10px;
}

/* Category Section */
.category-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 60px;
    text-align: center;
}
.category-col{
    padding: 10px 0px;
    cursor: pointer;
    color: rgb(85, 83, 83);
}
.category-col img{
    width: 64px;
    height: 64px;
}
.category-col h5:hover{
    color: #2874f0;
}
.fa-shopping-cart{
    padding-right: 10px;

}

/* Banner Section */
.banner img{
    width: 100%;
}

.white{
    width: 100%;
    height: 60px;
    background-color: white;
}

/* Electronics Section */
.bg-color{
    width: 100%;
    height: 10px;
    background-color: rgb(233, 230, 230);

}
.bg-color1{
    width: 100%;
    height: 18px;
    background-color: rgb(233, 230, 230);

}
.card{
    color: rgb(177, 174, 174) 0px 0px 5px 1px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    position: initial;
    overflow-y: hidden;
}
.common-heading{
    color: black;
    height: 300px;
    width: 200px;
    overflow: hidden;
}
.img1{
    width: 100%;
    height: 30px;
}
.img1 img{
    width: 200%;
    height: 180px;
    margin-bottom: 14px;
    cursor: pointer;
}

.common-heading img{
    width: 100%;
    height: 180px;
    cursor: pointer;
    transition: 0.3s;
   
}
.common-heading img:hover{
    transform: scale(1.05);
}
.b-text{
    text-align: center;
    padding-top: 80px;
    cursor: pointer;
}
.b-text h2{
    font-size: 25px;
    line-height: 1.38;
    font-weight: 400;
}
.b-text button{
    width: 100px;
    height: 30px;
    background-color: #2874f0;
    cursor: pointer;
    color: white;
    border: none;
}
.f-text{
    width: 100%;
    height: 100px;
    padding-top: 20px;
    font-size: 15px;
    cursor: pointer;
}
.f-text p{
    text-align: center;
}
.price{
    color: green;
    line-height: 30px;
    cursor: pointer;
}
.company{
    color: grey;
    cursor: pointer;
}
.next-arrow img{
    width: 100px;
    height: 100px;
    padding-top: 70px;
    margin-left: -110px;
    cursor: pointer;
    position: absolute;
    
}

/* Footer */
footer{
    background-color: #172337;
    height: 332;
}
.footer-row{
    width: 100%;
    height: 270px;
    display: flex;
    padding: 30px 0.1px;
}
.footer-row2{
    display: flex;
    border-top: 1px solid #454d5e;
    justify-content: space-evenly;
}
.footer-col-1{
    width: 19%;
}
.footer-col-2{
    width: 15%;
}
.footer-col-3{
    width: 15%;
}
.footer-col-4{
    width: 10%;
}
.footer-col-5{
    width: 15%;
    border-left: 1px solid #454d5e;
    height: 120px;
    padding-left: 25px ;
}
.footer-col-6{
    width: 20%;
    padding-left: 50px;
}
.footer-heading p{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0px;
    cursor: pointer;
    padding-left: 50px;
}
.footer-list a{
    text-align: left;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 51px;
}
.footer-list a:hover{
    text-decoration: underline;
    color: white;
}
.footer-list p{
    text-align: left;
    display: block;
    color: white;
    font-size: 12px;
    font-weight: 100px;
    padding: 0px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.footer-list-address{
    text-align: left;
    display: block;
    color: white;
    font-size: 12px;
    font-weight: 100px;
    line-height: 20px;
    cursor: pointer;
}
.footer-list-address span{
    color: rgb(60, 109, 245);
    cursor: pointer;
}
.footer-row2-col2{
    color: white;
    font-size: 15px;
    line-height: 20px;
    font-weight: 100px;
    cursor: pointer;
    padding-top: 10px;
}
.footer-row2-col2 img{
    padding: 0px;
}
.fa-bag-shopping, .fa-rectangle-ad, .fa-gift, .fa-handshake-angle{
    color: #ffd700;
    cursor: pointer;
    padding-right: 10px;
    font-size: 15px;
}